# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment files
.env
.env.*

# IDE: PhpStorm / PyCharm
.idea/
!/.idea/runConfigurations/   # optional: behalte Run-Konfigurationen im Git
!/.idea/misc.xml             # optional: z. B. Interpreter-Einstellung
!/.idea/modules.xml          # optional: Moduldefinition

# Logs
*.log

# OS files
.DS_Store
Thumbs.db